*.la
*.o
*.tar.gz
*~
.deps/
.dirstamp
.libs/
/config.h
/config.h.in
aclocal.m4
autom4te.cache
build-aux/
build/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
elf2rpl
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
readrpl
rplexportgen
rplimportgen
stamp-h1
udplogserver
wuhbtool
