name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name: [
          ubuntu-24.04
        ]
        include:
          - name: ubuntu-24.04
            os: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Install dependencies
      uses: gerlero/apt-install@v1
      with:
        packages: |
          autoconf
          autoconf-archive
          automake
          libfreeimage-dev
          libtool
          libz-dev
          pkg-config

    - name: Use ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true

    - name: Build
      run: |
        ./bootstrap
        mkdir build
        cd build
        ../configure
        make
